
@{
    Layout = null;
}

@using SLNWEB.DAO.VM
@model List<CustomerVM>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table class="col-md-12 table table-bordered table-responsive" >
            <thead>
                <tr>
                    <th>CustomerID</th>
                    <th>CompanyName</th>
                    <th>ContactName</th>
                    <th>ContactTitle</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>PostalCode</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>Fax</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.Region</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td>@item.Fax</td>
                    <td><a href="/Customer/Delete/@item.CustomerID" class="btn btn-outline-warning">Delete</a></td>
                    <td><a href="/Customer/Update/@item.CustomerID" class="btn btn-outline-warning">Update</a></td>
                </tr>
                }

            </tbody>
        </table>

    </div>
</body>
</html>
