
@{
    ViewBag.Title = "Listeleme";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using SLNWEB.DAO.VM
@model  List<CustomerVM>

<div class="container-fluid px-4">
    <h2 class="mt-4">Customer Listele</h2>

    <div class="card mb-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>CustomerID</th>
                        <th>CompanyName</th>
                        <th>ContactName</th>
                        <th>ContactTitle</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>PostalCode</th>
                        <th>Country</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CustomerID</th>
                        <th>CompanyName</th>
                        <th>ContactName</th>
                        <th>ContactTitle</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>PostalCode</th>
                        <th>Country</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.CustomerID</th>
                            <th>@item.CompanyName</th>
                            <th>@item.ContactName</th>
                            <th>@item.ContactTitle</th>
                            <th>@item.Address</th>
                            <th>@item.City</th>
                            <th>@item.PostalCode</th>
                            <th>@item.Country</th>
                            <td>
                                <button class="btn btn-danger" onclick="silTeshis(@item.CustomerID)">Detele</button>
                            </td>
                            <td>
                                @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="@Url.Action("_UpdateCustomer","Customer",new { CustomerID = item.CustomerID  })">
                                    Düzenle
                                </button>*@
                                <a href="/Customer/Update/@item.CustomerID" class="btn btn-outline-warning">Update</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>

